<div class="body-header body-header-content">
    <ul id="SIN" class="nav navbar-nav navbar-right userbar deactivate">
      <li>
        <span class="user_info" id="email"></span>:
      </li>
      <li><a href="/developer/applications">Applications</a></li>
      <li>
        <a href="/developer/signout">Sign&nbsp;out</a>
      </li>
    </ul>
    <ul id="SOUT" class="nav navbar-nav navbar-right userbar deactivate">
      <li><a href="/developer/signin">Sign&nbsp;in</a></li>
    </ul>
    <ul id="ERROR" class="nav navbar-nav navbar-right userbar deactivate">
      <li id="placeholder"></li>
    </ul>
</div>

