<ul class="nav navbar-nav">
    <li><a href="http://www.companieshouse.gov.uk/legal/termsAndConditions.shtml">Policies</a></li>
    <li><a href="https://find-and-update.company-information.service.gov.uk/help/cookies">Cookies</a></li>
    <li><a href="http://forum.aws.chdev.org">Forum</a></li>
    <li><a href="https://find-and-update.company-information.service.gov.uk/help/contact-us">Contact us</a></li>
</ul>
