[: if .Info.Title :]
<a class="navbar-brand" href="[:$.SpecPath:]/reference">Companies House</a>
<span class="api-title">[: .Info.Title :]</span>
[: else :]
<a class="navbar-brand" href="/">Companies House</a>
[: end :]
